@layer reset {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

:root {
  --accent-color: #eacd10;
}

html,
body {
  min-height: 100dvh;
}

body {
  background: #5f4637;
  color: #ffffff;
  font-family: var(--font-inter);
}
